.earth {
  z-index: 1;
  position: absolute;
  /* should be -65vw */
  bottom: -45vw;
  left: calc(50% - 45vw);
  width: 90vw;
  transform: translateX(-50%) translateY(70%);
  animation: spin 40s linear infinite;
  transform-origin: center;
}
