.borderbox {
  box-shadow: 1px 1px 9px 0px #ceb7ff;
  -webkit-box-shadow: 1px 1px 9px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 1px 1px 9px 0px rgba(255, 255, 255, 0.75);
}

.dsstroke {
  -webkit-text-fill-color: #26113f;
  -webkit-text-stroke: 1px #ceb7ff;
  -webkit-text-stroke-width: 2px;

  text-shadow: 0px 1px 10px #ceb7ff;
}

.bottomMessage {
  --s: 50px; /* the size on the corner */
  --t: 3px; /* the thickness of the border */
  --g: 30px; /* the gap between the border and text */

  padding: calc(var(--g) + var(--t));
  outline: var(--t) solid #eee7fd;
  outline-offset: calc(-1 * var(--t));
  -webkit-mask: conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 /
      calc(100% - var(--s)) calc(100% - var(--s)),
    linear-gradient(#000 0 0) content-box;
  transition: 0.4s;
  cursor: pointer;
}
.bottomMessage:hover {
  outline-offset: calc(var(--g) / -1.5);
  outline: var(--t) solid #ffb855;
}
.clickToOpen {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #eee7fd;
  -webkit-text-stroke-width: 2px;
  transition: 0.4s;
}
.clickToOpen:hover {
  -webkit-text-stroke: 1px #ffb855;
  -webkit-text-stroke-width: 2px;
}
